@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
body {
  background-color: #131316;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
}

img {
  height: 10vh;
  width: 10vh;
}

section {
  display: grid;
  place-items: center;
  align-content: center;
  min-height: 105vh;
}
.logos {
  display: flex;
}

.logo {
  background-color: #212429;
  border-radius: 10px;
  padding: 1rem;
  margin: 0 0.5rem;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.logo:nth-child(2) {
  transition-delay: 200ms;
}
.logo:nth-child(3) {
  transition-delay: 400ms;
}
.logo:nth-child(4) {
  transition-delay: 600ms;
}

@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}
